<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f9;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .dashboard-container {
            background-color: #ffffff;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 20px;
            width: 300px;
            text-align: center;
        }
        .dashboard-container h1 {
            color: #333;
            margin-bottom: 20px;
        }
        .dashboard-container p {
            color: #555;
            margin: 10px 0;
        }
        .dashboard-container p span {
            font-weight: bold;
        }
        .navigation {
            margin-top: 20px;
        }
        .navigation a {
            text-decoration: none;
            color: #007BFF;
            font-weight: bold;
        }
    </style>
</head>
<body>
<div class="dashboard-container">
    <h1>Dashboard</h1>
    <p th:text="'Welcome, ' + ${user.username} + '!'"></p>
    <p th:text="'Username: ' + ${user.username}"></p>
    <p th:text="'Phone: ' + ${user.phone}"></p>
    <div class="navigation">
        <a th:href="@{/subscriptions}">Go to Subscriptions</a>
    </div>
</div>
</body>
</html>
