<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f9;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .login-container {
            background-color: #ffffff;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 20px;
            width: 300px;
            text-align: center;
        }
        .login-container h1 {
            color: #333;
            margin-bottom: 20px;
        }
        .login-container p {
            color: #555;
            margin: 10px 0;
        }
        .login-container a {
            color: #007BFF;
            text-decoration: none;
            font-weight: bold;
        }
        .login-container a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
<div class="login-container">
    <h1>Login</h1>
    <p>To log in, please send your phone number to the Telegram bot <a th:href="'https://t.me/' + ${botUsername} + '?start=web'">@[[${botUsername}]]</a>.</p>
</div>
</body>
</html>
