<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Subscriptions</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f9;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .subscriptions-container {
            background-color: #ffffff;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 20px;
            width: 300px;
            text-align: center;
        }
        .subscriptions-container h1 {
            color: #333;
            margin-bottom: 20px;
        }
        .subscriptions-container ul {
            list-style-type: none;
            padding: 0;
        }
        .subscriptions-container li {
            margin-bottom: 15px;
        }
        .subscriptions-container span {
            font-weight: 300;
            display: block;
            margin-bottom: 10px;
        }
        .subscriptions-container form {
            display: inline;
        }
        .subscriptions-container button {
            background-color: #007BFF;
            color: white;
            border: none;
            padding: 10px 15px;
            border-radius: 4px;
            cursor: pointer;
        }
        .subscriptions-container button:hover {
            background-color: #0056b3;
        }
        .navigation {
            margin-top: 20px;
        }
        .navigation a {
            text-decoration: none;
            color: #007BFF;
            font-weight: 300;
        }
    </style>
</head>
<body>
<div class="subscriptions-container">
    <h1>Available Subscriptions</h1>
    <ul>
        <li th:each="subscription : ${subscriptions}">
            <span th:text="${subscription.name}"></span>
            <div th:if="${subscriptionStatus[subscription.id]}">
                <form th:action="@{/subscriptions/unsubscribe}" method="post">
                    <input type="hidden" name="subscriptionId" th:value="${subscription.id}" />
                    <button type="submit">Unsubscribe</button>
                </form>
            </div>
            <div th:if="${!subscriptionStatus[subscription.id]}">
                <form th:action="@{/subscriptions/subscribe}" method="post">
                    <input type="hidden" name="subscriptionId" th:value="${subscription.id}" />
                    <button type="submit">Subscribe</button>
                </form>
            </div>
        </li>
    </ul>
    <div class="navigation">
        <a th:href="@{/dashboard}">Go to Dashboard</a>
    </div>
</div>
</body>
</html>
